body {
    width: 95.5vw;
    margin: 0 auto;
    background-color: #edb5bf;
  }
  .navbar {
    display: flex;
    align-items: center;

    overflow: hidden;
    background-color: #4d6d9a;
    position: fixed;
    top: 0;
    width: 95.5vw;
    height: 7vh;
    
  }
  .navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: .4em 2.5em;
    text-decoration: none;
    font-size: 1em;
  }
  .navbar a:hover {
    color: #edb5bf;
  }
  .container {
    color:black;
    background: #99ced3;
    padding: 1%;
    margin-top: 2%;
    height: fit-content;
  }

  .h1 {
    font-size: 4em;
  }
  
  .h2 {
    font-size: 2em;
  }

  .johnpicandwords {
    display: flex;
    padding-right: 1vw;
    font-size: 1.5em;
    height:90vh;
    
  }
  .johnpicandwords img {
    width: 28vw;
    padding-right: 1vw;
  }

  .portrait {
    height: 5em;
  }

  .johnwords {
    height: 90vh;
    margin-top: 0em;
  }

  .projects {
    height: 80vh;
    width: 80vw;
    display: flex;
    padding: 3vw;
    flex-direction: column;
  }
  .tombstonesrow1, .tombstonesrow2{
    display: flex ;
    justify-content: space-around;
  }

  .tombstonesrow1 img, .tombstonesrow2 img{
    width: auto;
    height: 25vh;
  }

  .span {
    display: block;
  }

 .lang-done {
  color: #4d6d9a;
 }


 .lang-upcoming {
  color: #5f6366;
 }

  @media screen and (max-width: 900px) {.container {overflow: scroll} 

  }
   